* {margin: 0; padding: 0;}

/* Define Variables and Typography */

$font_colour: #333;
$main_font: 'Open Sans', sans-serif;
$link_colour: rgba(11,128,167,1);
$grey_background: rgba(250,249,248,1);
$main_footer_bg: rgba(45,42,43,1);
$bottom_footer_bg: rgba(5,6,7,1);
h1 { font-size: 2em; font-weight: bold; }
h2 { font-size: 1.3em; font-weight: bold; margin: 10px 0px; }
h3 {}
p { font-size: 1em; }
button { padding: 10px; text-transform: uppercase; font-size: .9em; background: $link_colour; }

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.nav_dots {
	text-align: right;
}

html, body {
	font-size: .9em;
	font-family: $main_font;
}

a {
	color: $link_colour;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: $link_colour;
	text-decoration: none;
}

.last {
	margin-right: 0!important;
}

.welcome_block, .services_block, .news_block, .testimonial_block, .gallery_client_block {
	margin: 20px 0px;
	padding: 20px 0px;
}

/*============================================*/


/* Top bar styling */

.top_bar {
	background: rgba(250,249,248,1);
	padding: 10px 5px;
	.top_bar_bottom {
		position: relative;
	}
	.company_info {
		text-align: right;
		color: $link_colour;
		display: block;
	}
	.main_nav {
		text-align: right;
		vertical-align: bottom;
		position: absolute;
		bottom: 0; right: 0;
		display: block;
		ul li {
			display: inline;
			margin-right: 25px;
			a {
				color: #333;
			}
		}
	}
	.mobile_nav_button {
		display: none;
	}
}

/*===========================================*/


/* Banner Styling */

.banner {
	margin-top: 30px;
}

/*============================================*/



/* News Block Styling */

.news_block {
	background: $grey_background;
	img {
		padding-bottom: 10px;
	}
}


/*============================================*/


/* Testimonial Block Styling */

.testimonial_block {
	.testimonial {
		padding: 20px;
		background: $grey_background;
		color: #000;
		.testimonial_name {
			text-align: right;
			font-weight: bold;
			margin: 0;
		}
	}
}


/*============================================*/


/* Gallery Block Styling */

.gallery_block, .client_block {
	img {
		width: 100%;
	}
	.gallery_row, .client_row {
		margin-bottom: 10px;
	}
}


/*============================================*/

/* Twitter Block Styling */

.twitter_update {
	.twitter_container {
		background: $grey_background;
		padding: 10px 20px;
		position: relative;
		bottom: -70px;
		.twitter_image {
			padding-top: 10px;
		}
		p {
			margin: 0;
		}
		.twitter_time {
			font-size: .8em;
			color: blue;
		}
	}
}


/*============================================*/

/* Main Footer Styling */

.main_footer {
	padding: 90px 0px 20px 0px;
	background: $main_footer_bg;
	color: #FFF;
	h2 {
		color: #FFF;
		margin: 0;
		padding-bottom: 5px;
	}
	.contact_details {
		padding-top: 65px;
		p {
			margin: 0;
		}
	}
}


/*============================================*/

/* Bottom Footer Styling */

.bottom_footer {
	background: $bottom_footer_bg;
	color: #FFF;
	padding: 10px 0px;
	a {
		color: #FFF;
		font-weight: normal;
	}
	&_left {
		padding-top: 5px;
	}
	&_right {
		text-align: right;
	}
}


/*============================================*/


/* Start of Mobile Styling */

@media only screen and (max-width: 1050px), only screen and (max-device-width: 1050px) {


	.top_bar {
		.main_nav, .company_info {
			display: none;
		}
		.mobile_nav_button {
			display: block;
			text-align: right;
			&:hover {
				cursor: pointer;
			}
		}
	}



	.welcome_block, .services_block, .news_block, .testimonial_block, .gallery_client_block {
		margin: 0px;
	}

	.services_block, .news_block, .main_footer, .bottom_footer, .bottom_footer_right {
		text-align: center;
	}

	.services_block, .news_block {
		img {
			width: 100%;
		}
	}

	.gallery_client_block, .twitter_container {
		display: none;
	}

	.main_footer {
		padding: 10px;
		&_left {
			margin-bottom: 10px;
		}
	}

}


/*============================================*/